body {
    font-family: 'Arial', sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
  }
  
  header, section, footer {
    margin: 20px;
  }
  
  h1, h2 {
    color: #3498db;
  }
  
  .colorSample {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-left: 10px;
    border: 1px solid #ccc;
  }
  
  #wireframe img {
    max-width: 100%;
    border: 1px solid #313131;
  }
  