@media (min-width: 769px){
  body {
    font-size: 18px;
  }

  .ccsc-grid-container {
    grid-template-columns: 1fr 2fr;
  }

  nav {
    width: 60%;
  }

  .ccsc-image-gallery img {
    width: 80%;
  }

  .social-container {
    display: none;
  }
  .member-grid {
    grid-template-columns: repeat(3, 1fr);
  }
  .member-list .member-list-item {
    flex-direction: row;
    width: 92%;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
}

@media (min-width: 500px) and (max-width: 1600px){
  .member-list .member-list-item {
    flex-direction: column;
  }
}
