@media (max-width: 480px) {
    header {
       height: 100px;
    }
   
    #hero-image {
       height: 30vh;
    }
   
    #contact-links-container {
       font-size: 24px;
    }
   
    .cta-button {
       padding: 8px 16px;
       font-size: 14px;
    }
   
    footer {
       height: 70px;
    }

    #hero-image {
        width: 100%;
      }

      main {
        min-height: calc(100vh - 200px);
      }
      
      #google-iframe{
        width: 95%;
      }
   }